/obj/Debug/net7.0
/obj
/appsettings.js
/.vs/BackupManager/FileContentIndex
/.vs/BackupManager/v17
/BackupManager/.vs/ProjectEvaluation
/BackupManager/obj/Debug/net7.0
/BackupManagerTests/obj/Debug/net7.0
/BackupManager/obj
/BackupManagerTests/obj
/BackupManager/bin/Debug/net7.0
/BackupManager/.vs/BackupManager/v17
/BackupManager/.vs/BackupManager/DesignTimeBuild
/BackupManager/.vs/BackupManager/FileContentIndex
/BackupManagerTests/bin/Debug/net7.0
/.vs/BackupManager/DesignTimeBuild
/*.user
/BackupManagerTests/appsettings.js
/BackupManager/appsettings.json
/BackupManagerTests/appsettings.json
/.vs/BackupManager/config
/.vs/ProjectEvaluation
/YandexDisk.Client/bin/Debug/net6
/YandexDisk.Client/bin/Debug
/YandexDisk.Client/obj/Debug/net6
/YandexDisk.Client/obj/Debug/net7
/YandexDisk.Client/obj/Debug/netstandard2.0
/YandexDisk.Client/obj
