/obj/Debug/net7.0
/obj
/appsettings.js
/.vs/BackupManager/FileContentIndex
/.vs/BackupManager/v17
/BackupManager/.vs/ProjectEvaluation
/BackupManager/obj/Debug/net7.0
/BackupManagerTests/obj/Debug/net7.0
/BackupManager/obj
/BackupManagerTests/obj
/BackupManager/bin/Debug/net7.0
/BackupManager/.vs/BackupManager/v17
/BackupManager/.vs/BackupManager/DesignTimeBuild
/BackupManager/.vs/BackupManager/FileContentIndex
/BackupManagerTests/bin/Debug/net7.0
/.vs/BackupManager/DesignTimeBuild
/*.user
